<% if (site.tags.length){ %>
<div class="widget tag">
  <h3 class="title">简介</h3>
  <ul class="entry">
  	<li><img src="http://ww1.sinaimg.cn/large/7f0fa1cdjw1ej65y90ndaj20cs0craan.jpg" width="230px" height="230px"></li>
  	<li>姓名：王瑾</li>
  	<li>邮箱：836792834@qq.com</li>
  	<li><a href="./about/" >联系我</a></li>
  </ul>
</div>
<% } %>